.DS_Store
/tmux/plugins/
/tmux/resurrect/
/alacritty/colors/
/nvim/lazy-lock.json
/nvim/lua/theme.lua
/nvim/lua/core/theme.lua
/wezterm/globals.*
/zsh/private.zsh

/ghostty/dynamic-config
/ghostty/oled

.claude

/kitty/*.bak
/kitty/current-theme.conf
/kitty/theme.conf
/kitty/font.conf
/kitty/local.conf
/kitty/neighboring_window.py
/kitty/split_window.py
/kitty/relative_resize.py
/kitty/sessions
