themes {
  coolnight {
    fg "#ECDEF4"
    bg "#010C18"
    red "#ff3a3a"
    green "#52ffcf"
    blue "#1376f8"
    yellow "#fff383"
    magenta "#c792ea"
    orange "#fe640b"
    cyan "#ff5dd4"
    black "#010C18"
    white "#15fca2"
  }
}
